*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #565d87;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #565d87;
  position: fixed;
  top: 0; 
  overflow: hidden;
  animation: fadeIn 1s linear;
}

main > p {
  color: white;
}

.logo {
  width: 80px;
}

.items {
  margin-right: 2rem;
  display: flex;
  gap: 2rem;
}

.items > * {
  font-size: 1.2rem;
  list-style: none;
  text-decoration: none;
  color: white;
}

@keyframes fadeIn {
  0% { 
    opacity: 0; 
    background-color: #98a0e2;
  }
  100% { 
    opacity: 1; 
    background-color: #565d87;
  }
}

main {
  text-align: center;
  width: 100%;
  margin-top: 8rem;

}

main > p {
  font-size: 2rem;
}

.holidays {
  margin-block: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.4rem;
}

.holiday {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  background-color: lightseagreen;
  padding: 2rem;
  border-radius: 15px;
  color: white;
  transition: all .15s linear;
  border: 1px solid #98a0e2;
}

.holiday:hover {
  transform: scale(1.1);
  cursor: pointer;
}